{% extends "base.html" %}
{%load static%}
{%block title%}about{%endblock%}

{% block content%}
<h1 class="text-center">City Hospitals</h1>
<h3>About Us</h3>
<div class="text-center">
    <img src="{%static '/images/4.jpg'%}" alt="">
</div>
<div class="bg-success p-2 text-dark bg-opacity-10">
    
    <p>Aster Hospitals is one of the topmost healthcare providers in India. Our hospitals are renowned for their medical infrastructure and expertise as we have some of the finest doctors in the country, supported by ultra-modern technologies, research-based care in a warm & comforting environment. Our trusted doctors and a team of specialists work closely together to provide the best of healthcare.

        As a leader in the healthcare industry, our hospitals are accredited by the National Accreditation Board for Hospitals & Healthcare (NABH), and our high-tech laboratory services are NABL endorsed. Two of our hospitals Aster Medcity, Cochin & Aster Ramesh, Guntur are accredited with the JCI (Joint Commission International), considered the gold standard in global health care.</p>

    <hr>
    <p>City Hospital is one of the largest private healthcare service providers operating in multiple GCC states and is an emerging healthcare player in India. With an inherent emphasis on clinical excellence and an effort to provide unparalleled care to our patients, we are one of the few entities in the world with a strong presence across primary, secondary, tertiary, and quaternary healthcare through our hospitals, clinics, and pharmacies. We have over 19,800+ dedicated employees across the geographies, delivering a simple yet strong promise to our different stakeholders: "We'll treat you well."</p>
</div>
<h3>Chairman’s Message</h3>
<div class="bg-warning p-2 text-dark bg-opacity-10">
    <p>We have been consistent in our mission to provide quality healthcare at an affordable cost. Our team believes there is no finishing line in the race for excellence, and accessibility to healthcare services is a priority. Therefore, we provide services closer to our customers through the extensive network of Hospitals, clinics, Diagnostic labs and pharmacies.
        I firmly believe that the 'recipe' for success has always been the blessings of the Almighty, the support of the visionary leaders and people of the countries we operate and the hard work of the united and passionate team</p>
</div>

<div class="text-center">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9247.830164311912!2d-5.960682306450442!3d54.58712223068171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48610892ad373a51%3A0xac100afe09983640!2sCity%20Hospital%2C%20Parking%20lot%2C%20Lisburn%20Rd%2C%20Belfast%20BT9%207BF%2C%20UK!5e0!3m2!1sen!2sin!4v1669966059591!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
{%endblock%}
